/* reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

/* main */
.inner_img {
  width: 50%;
  margin: 8rem auto;
  overflow: hidden;
}

.img {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

/* images background */
.inner_img:first-of-type div {
  background-image: url(https://images.unsplash.com/photo-1546964143-15abb18ec50d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.inner_img:nth-of-type(2) div {
  background-image: url(https://images.unsplash.com/photo-1544022321-e0f0adb3578a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
}

.inner_img:last-of-type div {
  background-image: url(https://images.unsplash.com/photo-1487792392560-f8ab749cc299?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
}
